.profile-pic {
    width: 300px;
    height: 300px;
}

#review-pic {
    height: 20%;
    width: 20%;
    margin-right: 10px;
}

#close-button {
    padding-left: 29rem;
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

.navbar > .container {
    max-width: 100%;
    margin: 10px;
    padding-left: 25px;
    padding-right: 20px;
  }

#search-bar {
    padding-right: 25px;
    width: 40%;
}  

.navbar {
    margin: 0;
    padding: 0;
}

#form-required, #error-message {
    color: red;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    float: left;
    margin-left: 5rem;
}